extends layout

block content
    h1 #{title}
    form(method='POST', action='/cards/edit/'+card.id)
        #form-group
            label Definition:
            input.form-control(name='front', type='text')
        #form-group
            label Explanation:
            textarea.form-control(name='back')
        #form-group
            label Translation:
            textarea.form-control(name='transl')
        br
        input.btn.btn-primary(type='submit',value='Submit')