.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.nav>li>a.language_icon {
  padding-top: 0px;
}
#fface {
  color:black;
}
.back>.russ {
  display: none
}
.back.hid>.russ {
  display:block
}
.back.hid>.engl  {
  display: none;
}
.bordered {
  border: 3px solid #26a69a;;
  border-radius: 2px;
  background-color: transparent;
  margin: 10px 0 0 10px;
  padding: 10px;

}
.task, .bordered {
  font-size: 3em;
  text-align: center;
}
. task {
  line-height: 200px;

}
.bordered {
  line-height: 70px;
}
#task-space {
  float: left;
  width:45%;
  background-color: white;
  line-height: 300px;
  height: 360px;
  font-family: Georgia;
}
.options {
float:right;
  width: 45%;
  height: 50%;
}
.cover {
  -webkit-perspective: 800;
  width: 170px;
  height: 210px;
  background: white;
  color: #29a597;
  margin: 10px auto;
  text-align: center;
  line-height: 190px;
  font-size: 1em;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(29, 29, 29, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(29, 29, 29, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(29, 29, 29, 0.75);
  border-radius: 2px;
  font-family: Georgia;

}
.noa>a:hover {
  text-decoration: none;
  color: black;
}
.noa>a>p {
  text-align: center;
  color: #434343;

}
p.name {
  font-size: 1.1em !important;
}
.noa>a>.cover>p{
  font-size: 2em;
}
h1 {
  color: #434343;
  text-align: center;
}
/*.nav>li>a {*/
  /*font-size:1.2em;*/

/*}*/
a.navbar-brand {
  font-size:1.4em;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #fbfbfb;
    font-weight: bolder;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #d2d2d2;
}
nav.navbar-inverse {
  background-color: #0ab5bc;
  padding-top: 5px;
    border:none;
    border-radius: 0px;
    min-height: 75px;
}
label {
  font-size: 0.9rem;
  color: #6f6f6f;
}
.btn {
  margin: 5px 3px;
    background-color: #0a9aa1;
    font-weight: bolder;
}
.btn:hover, .btn-danger:hover {
    background-color: #0ab5bc;
}
.flip .cardy .back {
  font-size: 2em;
  line-height: 50px;
}
.question .alert-success_msg, .question .alert-error {
  font-size: 1.5em;
  padding:5px;
  margin:10px;
}
.task.flip.cardy.face {
  line-height: 2.2em;
  font-family: Georgia;
}
.question {
  margin-top: 20px;
}
.operate .flip .cardy .back {
  max-font-size:1.5em;
}
.operate .flip  {
  height: 360px;
  width: 50%;
}
.operate {
  height:80%;
}
.operate .flip .cardy{
    max-width:100%;
    max-height:100%;


}
.operate .flip .cardy .back {
  padding: 10px;
  max-width:100%;
  max-height:100%;
}

hr, .operate hr  {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}
.operate #fface {
  line-height: 7em;
}
.options>.demo {
    font-size: 1.5em;
    line-height: 1.5em;
}
.headline {
  max-width: 100%;
}
